
#loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background: #F1F3FA;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/*++++++++++++++++++++++++++++++++SIDEBAR - OPEN++++++++++++++++++++++++++++++++*/
/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
}
/*++++++++++++++++++++++++++++++++SIDEBAR - CLOSE++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++TOP NAVBAR - OPEN++++++++++++++++++++++++++++++++*/
.navbar-nav > li > a {padding-top:30px !important; padding-bottom:30px !important;}
.navbar {
    min-height:80px !important
    color:white;
}
/*++++++++++++++++++++++++++++++++TOP NAVBAR - CLOSE++++++++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++NEWS AREA - OPEN++++++++++++++++++++++++++++++++*/
.news-feed
{
    max-height: 500px;
    overflow-y: scroll;
}

/*++++++++++++++++++++++++++++++++NEWS AREA - CLOSE++++++++++++++++++++++++++++++++*/


/* checked list group*/

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.well .list-group {
    margin-bottom: 0px;
}

/* checked list group Close */

/*++++++++++++++++++++++++++++++++MEDIA QUERIES - OPEN++++++++++++++++++++++++++++++++*/


@media only screen and (max-width: 767px){
    #post-user-img{
        display: none;
    }
}

@media only screen and (min-width: 768px){
    #post-user-img-small{
        display: none;
    }
}

/*++++++++++++++++++++++++++++++++MEDIA QUERIES - CLOSE++++++++++++++++++++++++++++++++*/