/*basic reset*/
* {
    margin: 0; 
    padding: 0;

}

html {
    height: 100%;
    background: url('../img/index/background.jpg') no-repeat center center;
    background-size: cover;
}

body {
    font-family: montserrat, arial, verdana;
    
}

header{
    position:fixed;
    background: #1ab188;
    opacity: 0.2;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px;

}
.banner{
    border-bottom: solid #27AE60 5px;
    width: 50%;
    box-shadow: 5px 0px 0px white;
    text-align: right;
    padding-right: 10px;
    font-size: 1.8em;
    color: white;
    margin: 0% 1% 0% 1% ;

}

/*form styles*/
#msform {
    display: block;
    position: inherit;
    min-width: 400px;
    width: 40%;
    margin: auto;
    text-align: center;
    position: relative;

}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 14px;
}

#msform input .tooltiptext, #msform textarea .tooltiptext, #msform select .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}



/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    opacity: 0.8;
}
/*headings*/
.fs-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 20px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    margin-left: 9%;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 30%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}




.hhdcontainer {
  position: relative;
  width: 220px;
  height: 220px;
  border: 3px solid #27AE60;
  cursor:pointer;
}

.image {
  display: block;
  width: 200px;
  height: 200px;
  cursor:pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #27AE60;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  cursor:pointer;
}

.hhdcontainer:hover .overlay {
  height: 30%;
  cursor:pointer;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor:pointer;
}