.hhd *, *:before, *:after {
  box-sizing: border-box;
}

.hhd a:hover {
  color: #179b77;
}

.hhd .form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  float: right;
  width: 400px;
  max-height: 500px;
  margin: 40px 80px 40px 40px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

@media only screen and (max-width: 480px) {
  .hhd .form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  float: left;
  width: auto;
  max-height: 500px;
  margin: 40px 40px 40px 40px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
}

.hhd .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}
.hhd .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.hhd .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 18px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.hhd .tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.hhd .tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.hhd .tab-content > div:last-child {
  display: none;
}

.hhd h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 30px;
}

.hhd label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 9px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 16px;
}
.hhd label .req {
  margin: 2px;
  color: #1ab188;
}

.hhd label.active {
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
  left: 2px;
  font-size: 12px;
}
.hhd label.active .req {
  opacity: 0;
}

.hhd label.highlight {
  color: #ffffff;
}

.hhd input, textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.hhd input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.hhd textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.hhd .field-wrap {
  position: relative;
  margin-bottom: 30px;
}

.hhd .top-row:after {
  content: "";
  display: table;
  clear: both;
}
.hhd .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.hhd .top-row > div:last-child {
  margin: 0;
}

.hhd .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.hhd .button:hover, .button:focus {
  background: #179b77;
}

.hhd .button-block {
  display: block;
  width: 100%;
}

.hhd .forgot {
  margin: -10px 0px 10px;
  text-align: right;
}

/* -------------------------------- 

Intro Section

-------------------------------- */
.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  height: 580px;
  background: url(../img/background.jpg) no-repeat center center;
  background-size: cover;
}
.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-hero {
    height: 580px;
  }
}

